{% extends 'base.html' %}

{% block title %}
    School Profile
{% endblock %}

{% block content %}

<div class="school_profile">
    <div class="image" style="background-color: rgb(157, 189, 178); "></div>

    <div><H1 style="color:rgb(28, 16, 104); padding: 30px;">{{school.school_name}}
        <div><sub style="color:rgb(28, 16, 104); padding: 20px;">{{school.school_type}}</sub></div>
    </H1>
        <a href="{% url 'update_school_profile' request.user.id %}">Edit</a>
        <div>{{school.description}}</div>
    <div>Vist our website: {{school.website}}</div>
    </div>
    
    
</div>
{% endblock %}