.header{
    border: 2px solid brown;
    border-radius: 2px;
    background-color: rgb(210, 146, 146);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
    height: 50px;
}
.profile{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 50px;
}
.profile_pic{
    background-image: url('../images/profile.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    
    border-radius: 200px;
    margin: 15px 30px;
    width: 50px;

    margin: 0;
}

