

.instructor_profile{
    border: 2px solid rgb(127, 21, 159);
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(151, 116, 234);
    height: 1000px;
}

.instructor_profile .image{
    border: 2px solid rgb(222, 198, 246);
    background-image: url('../images/profile.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    
    border-radius: 200px;
    margin: 15px 30px;
    width: 200px;
}