<div>
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}?session_key={{ request.session.session_key }}">Logout</a>
        <a href="{% url 'delete_account' request.user.id %}?session_key={{ request.session.session_key }}"> Delete Account</a>
        
        {% if request.user.user_type == 'school' %}
            <a href="{% url 'posts' %}">Job Postitions</a>
            <a href="{% url 'school_profile' request.user.id %}?session_key={{ request.session.session_key }}"> got to profile</a>
            <a href="{% url 'create_post' %}?session_key={{ request.session.session_key }}">Post Job</a>
        {% elif request.user.user_type == 'instructor' %}
            <a href="{% url 'my_applications' request.user.id %}?session_key={{ request.session.session_key }}"> My Applications </a>
        {% endif %}
        <div>
            <form method="get" action="{% url 'home' %}">
                <input type="text" name="q" placeholder="Search Post ...">
            </form>
        </div>
    {% else %}
        <a href="{% url 'login' %}?session_key={{ request.session.session_key }}"> Login</a>
        <a href="{% url 'register' %}?session_key={{ request.session.session_key }}">Register</a>
    {% endif %}
    
</div>
<br>